<footer class="site-footer">
    <div class="container">
        <div class="site-footer-inner">
            <div class="brand footer-brand">
                <a href="#">
                    <img src="/images/logo.svg" alt="Blue logo">
                </a>
            </div>
            <ul class="footer-links list-reset">
                <li>
                    <a href="#">Jawami 2020</a>
                </li>
                <!-- <li>
                    <a href="#">About us</a>
                </li>
                <li>
                    <a href="#">FAQ's</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li> -->
            </ul>
        </div>
    </div>
</footer>